#Services{
  max-width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  .servicesWrapper{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    .serviceCard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      gap: 20px;
      max-width: 400px;
      min-height: 150px;
      padding: 20px;
      h4{
        font-size: 24px;
        line-height: 28.8px;
      }
      p{
        font-size: 16px;
        line-height: 30px;
      }
      i{
        
        color: #eb566c;
    font-size: 65px;
      }
    }
  }
}